/* Reset style */
* {
  margin: 0;
  padding: 0;
  font-family: "Host Grotesk", sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.common-btn {
  background-color: rgba(232, 186, 46, 1);
  color: rgba(0, 1, 2, 1);
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

/* Header section style */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
}
.header-navigation ul {
  display: flex;
  gap: 24px;
}
.header-navigation ul li {
  list-style: none;
  text-decoration: none;
}
.header-navigation ul li a {
  color: rgba(87, 87, 87, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.common-btn i {
  text-align: center;
  margin-left: 5px;
}
/* Header section end */

/* Status section style */
.status-parent {
  background-color: rgba(244, 196, 48, 1);
  padding: 50px;
}
.status-analysis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.status-analysis-text p {
  color: rgba(87, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
}
.status-analysis-text h2 {
  color: rgba(0, 1, 2, 1);
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}
/* Status section end */

/*  Explore host cities section style start  */
.host-cities-parent {
  padding: 60px;
}
.host-cities-heading {
  text-align: center;
  font-size: 56px;
  color: rgba(0, 1, 2, 1);
  font-weight: 600;
  margin-bottom: 64px;
}

.host-cities-explore-place {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.host-cities-place-details h2 {
  color: rgba(0, 1, 2, 1);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
.host-cities-place-details p {
  color: rgba(87, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.host-cities-place-details ul li {
  list-style: none;
  color: rgba(77, 77, 77, 1);
  font-weight: 700;
  font-size: 17px;
  margin: 5px;
}
/*  Explore host cities section end start  */
