/* Reset style */
* {
  margin: 0;
  padding: 0;
  font-family: "Host Grotesk", sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.common-btn {
  background-color: rgba(232, 186, 46, 1);
  color: rgba(0, 1, 2, 1);
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.common-btn i {
  text-align: center;
  margin-left: 5px;
}
/* Header section style */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
}
.header-navigation ul {
  display: flex;
  gap: 24px;
}
.header-navigation ul li {
  list-style: none;
  text-decoration: none;
}
.header-navigation ul li a {
  color: rgba(87, 87, 87, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

/* Header section end */

/* Hero section style start */
.hero-parent {
  background:
    linear-gradient(
      to right,
      #000000,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url("img/hero.png");
  width: 100%;
  height: 786px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 20px;
  position: relative;
}
.hero-text {
  margin-left: 70px;
  position: absolute;
  top: 200px;
}
.hero-text h2 span {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -4;
  display: block;
  color: #ffffff;
}
.hero-text p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  width: 448px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Hero section style end */

/* Status section style start */
.status-parent {
  background-color: rgba(244, 196, 48, 1);
  padding: 50px 0;
}
.status-analysis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.status-analysis-text {
  flex: 1;
  text-align: center;
}
.status-analysis-text p {
  color: rgba(87, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
}
.status-analysis-text h2 {
  color: rgba(0, 1, 2, 1);
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -2px;
}
/* Status section end */

/*  Explore host cities section style start  */
.host-cities-parent {
  padding: 60px;
}
.host-cities-heading {
  text-align: center;
  font-size: 56px;
  color: rgba(0, 1, 2, 1);
  font-weight: 600;
  margin-bottom: 56px;
}

.host-cities-explore-place {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.host-cities-place-details h2 {
  color: rgba(0, 1, 2, 1);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
.host-cities-place-details p {
  color: rgba(87, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.host-cities-place-details ul li {
  list-style: none;
  color: rgba(77, 77, 77, 1);
  font-weight: 700;
  font-size: 17px;
  margin: 5px;
}
.host-cities-explore-btn {
  text-align: center;
}
/*  Explore host cities section end start  */

/* Matches schedule section style start */
.matches-parent {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 50px;
}
.matches-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(17, 28, 45, 1);
  margin-bottom: 10px;
}
.matches-heading p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(80, 95, 118, 1);
}

.matches-schedule-parent {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  margin-top: 24px;
}

.matches-schedule-heading tr th {
  background-color: rgba(167, 49, 49, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.14px;

  text-align: center;
}
td,
th {
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 16px 24px;
}

.matches-schedule tr td {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.matches-schedule tr td:first-child {
  color: #ba1a1a;
  font-weight: 600;
}
.matches-schedule tr td:nth-child(2) {
  color: rgba(17, 28, 45, 1);
  font-weight: 700;
}
.matches-schedule tr td:nth-child(3) {
  color: rgba(80, 95, 118, 1);
  font-weight: 400;
}
.matches-schedule tr td:last-child {
  color: rgba(17, 28, 45, 1);
  font-weight: 600;
  font-size: 12px;
}

/* 2 diffrent color stage */
.matches-status-first-child {
  color: rgba(246, 0, 0, 1) !important;
}
.matches-status-last-child {
  color: rgba(189, 160, 4, 1) !important;
}
/* Matches schedule section style end */

/* Footer section style start */
.footer-parent {
  background-color: rgba(0, 1, 2, 1);
  padding: 60px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-social-media-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer-social-media {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
}
.footer-social-media i {
  font-size: 24px;
}

.footer-social-media:hover {
  background-color: rgba(19, 59, 219, 1);
  color: rgba(255, 255, 255, 1);
}

.footer-divider {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  position: relative;
}
.footer-copyright span::after {
  content: "";
  position: absolute;
  background: rgba(32, 63, 48, 0.6);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 7px;
  text-align: center;
}
.footer-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  position: relative;
}
.footer-policy a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-policy span::after {
  content: "";
  position: absolute;
  background: rgba(32, 63, 48, 0.6);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 7px;
}
/* Footer section style end */
